Body{font family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12pt;
font-weight: bold;}

H1{text-align:center;letter-spacing:.25em;
background:red; color:blue; font: bold 18pt
font family: Verdana, Arial, Helvetica, sans-serif;}

H2{text-align:center; color:navy; font: bold 14pt
"Nueva Roman", "Lithos Regular"}

P{text-align:justify; font: #ffffff text-indent:12pt;
font: 12pt/15pt "Myriad Roman", Verdana"}

P.intro {text-indent:0:font: italic bold}

P.intro EM {font-style:normal}

A:link {background:yellow; color:green;
text-decoration:none}

A:visited {background:orange; color:yellow;
text-decoration:none}

A:hover {background:red;color:white;
text-decoration:none}

A;active {background:white;color:black;
text-decoration:none}
